<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Trainee First Name</th>
                <th scope="col">Trainee Last Name</th>
                <th scope="col">Trainee Mobile</th>
                <th scope="col">Subscription Type</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mohamed</td>
                <td>Ahmed</td>
                <td>011551111111</td>

                <td>Monthly</td>
                <td>2022-01-01</td>
                <td>2022-02-01</td>
                <td><span class="badge bg-success">Active</span></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>mahmoud</td>
                <td>ashraf</td>
                <td>011551111111</td>

                <td>Monthly</td>
                <td>2022-03-01</td>
                <td>2022-03-25</td>
                <td><span class="badge bg-success">Active</span></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Ibrahim</td>
                <td>Mahmoud</td>
                <td>011551111111</td>

                <td>Yearly</td>
                <td>2022-03-01</td>
                <td>2023-03-25</td>
                <td><span class="badge bg-secondary">Cancelled</span></td>
            </tr>
        </tbody>
    </table>
</div>