{% extends 'base.html' %}
{% load static %}
{% block title %}
    The sports doctor - Blog
{% endblock title %}
{% block body %}
    <!-- blog-grid -->
    <section class="blog-grid sec-pad-2">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated"
                         data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <a href="{% url 'blog-details' %}">
                                    <img src="{% static 'images/news/news-1.jpg' %}" alt="">
                                </a>
                                <span class="post-date">23 June, 2020</span>
                            </figure>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>
                                        <i class="far fa-user-circle"></i><a href="index.html">Admin</a>
                                    </li>
                                    <li>
                                        <i class="far fa-comments"></i><a href="index.html">7 Comments</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="{% url 'blog-details' %}">How you can choose the best physiotherapy clinic</a>
                                </h3>
                                <p>Lorem ipsum is simply free text used by new pesnhl note this copytyping refreshing.</p>
                                <div class="link">
                                    <a href="{% url 'blog-details' %}"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated"
                         data-wow-delay="300ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <a href="{% url 'blog-details' %}">
                                    <img src="{% static 'images/news/news-2.jpg' %}" alt="">
                                </a>
                                <span class="post-date">22 June, 2020</span>
                            </figure>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>
                                        <i class="far fa-user-circle"></i><a href="index.html">Admin</a>
                                    </li>
                                    <li>
                                        <i class="far fa-comments"></i><a href="index.html">5 Comments</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="{% url 'blog-details' %}">Eat the right diet for your body to stay healthy</a>
                                </h3>
                                <p>Lorem ipsum is simply free text used by new pesnhl note this copytyping refreshing.</p>
                                <div class="link">
                                    <a href="{% url 'blog-details' %}"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated"
                         data-wow-delay="600ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <a href="{% url 'blog-details' %}">
                                    <img src="{% static 'images/news/news-3.jpg' %}" alt="">
                                </a>
                                <span class="post-date">21 June, 2020</span>
                            </figure>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>
                                        <i class="far fa-user-circle"></i><a href="index.html">Admin</a>
                                    </li>
                                    <li>
                                        <i class="far fa-comments"></i><a href="index.html">4 Comments</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="{% url 'blog-details' %}">How can chiropractic care help your health system</a>
                                </h3>
                                <p>Lorem ipsum is simply free text used by new pesnhl note this copytyping refreshing.</p>
                                <div class="link">
                                    <a href="{% url 'blog-details' %}"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated"
                         data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <a href="{% url 'blog-details' %}">
                                    <img src="{% static 'images/news/news-4.jpg' %}" alt="">
                                </a>
                                <span class="post-date">20 June, 2020</span>
                            </figure>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>
                                        <i class="far fa-user-circle"></i><a href="index.html">Admin</a>
                                    </li>
                                    <li>
                                        <i class="far fa-comments"></i><a href="index.html">7 Comments</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="{% url 'blog-details' %}">The right diet for your body history of chiropr- actic care</a>
                                </h3>
                                <p>Lorem ipsum is simply free text used by new pesnhl note this copytyping refreshing.</p>
                                <div class="link">
                                    <a href="{% url 'blog-details' %}"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated"
                         data-wow-delay="300ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <a href="{% url 'blog-details' %}">
                                    <img src="{% static 'images/news/news-5.jpg' %}" alt="">
                                </a>
                                <span class="post-date">19 June, 2020</span>
                            </figure>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>
                                        <i class="far fa-user-circle"></i><a href="index.html">Admin</a>
                                    </li>
                                    <li>
                                        <i class="far fa-comments"></i><a href="index.html">5 Comments</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="{% url 'blog-details' %}">Learn history of chiropr- actic care remove your pain</a>
                                </h3>
                                <p>Lorem ipsum is simply free text used by new pesnhl note this copytyping refreshing.</p>
                                <div class="link">
                                    <a href="{% url 'blog-details' %}"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated"
                         data-wow-delay="300ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <a href="{% url 'blog-details' %}">
                                    <img src="{% static 'images/news/news-5.jpg' %}" alt="">
                                </a>
                                <span class="post-date">19 June, 2020</span>
                            </figure>
                            <div class="lower-content">
                                <ul class="post-info clearfix">
                                    <li>
                                        <i class="far fa-user-circle"></i><a href="index.html">Admin</a>
                                    </li>
                                    <li>
                                        <i class="far fa-comments"></i><a href="index.html">5 Comments</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="{% url 'blog-details' %}">Learn history of chiropr- actic care remove your pain</a>
                                </h3>
                                <p>
                                    Lorem ipsum is simply free text used by new pesnhl note this copytyping refreshing.
                                </p>
                                <div class="link">
                                    <a href="{% url 'blog-details' %}"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-grid end -->
{% endblock %}
