{% extends "base.html" %}
{% load static %}
{% block title %}
    The sports doctor - Education Material
{% endblock title %}
{% block body %}
    <div class="container education-materials">
        <div class="row">
            <div class="col mb-75">
                <div class="doctor-card">
                    <div class="card text-white ">
                        <div class="d-inline-flex personal-card">
                            <img class="card-img-top" src="{% static "images/personal photo.png" %}" alt="Title">
                            <div class="card-body">
                                <p class="card-text">
                                    DR. KEVIN WILK HAS LEAD
                                    A DISTINGUISHED CAREER
                                    AS A CLINICAL PHYSICAL
                                    THERAPIST FOR THE PAST
                                    37 YEARS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col mb-75">
                <h1 class="page-header">Educational Material</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center g-2 text-center">
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 10px!important;">
        <div class="row justify-content-center align-items-center g-2 text-center">
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 10px!important;">
        <div class="row justify-content-center align-items-center g-2 text-center">
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card m-10 rounded-3">
                    <div class="card-body pdf-card ">
                        <i style="font-size:80px!important" class="bi bi-file-pdf pdf-icon"></i>
                        <p class="pdf-name">Pdf name is here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
