<div>
    <form>

        <div class="row">
            <div class="col text-left">
                Does your mother suffer from any of the following diseases?
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Highbloodpressure-checkbox" class="mr-2">High blood pressure</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Highbloodpressure-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Heartdiseases-checkbox" class="mr-2">Heart diseases</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Heartdiseases-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Stomachulcers-checkbox" class="mr-2">Stomach ulcers</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Stomachulcers-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Bloodclots-checkbox" class="mr-2">Blood clots</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Bloodclots-checkbox">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Rheumatoidarthritis-checkbox" class="mr-2">Rheumatoid arthritis</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Rheumatoidarthritis-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Kidneydisorders-checkbox" class="mr-2">Kidney disorders</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Kidneydisorders-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Asthma-checkbox" class="mr-2">Asthma</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Asthma-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Skindiseases-checkbox" class="mr-2">Skin diseases</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Skindiseases-checkbox">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Thyroiddisorders-checkbox" class="mr-2">Thyroid disorders</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Thyroiddisorders-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Diabetesdisorders-checkbox" class="mr-2">Diabetes disorders</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Diabetesdisorders-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Epilepsy-checkbox" class="mr-2">Epilepsy</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Epilepsy-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Lungdisorders-checkbox" class="mr-2">Lung disorders</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Lungdisorders-checkbox">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Heartstroke-checkbox" class="mr-2">Heart stroke</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Heartstroke-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Tumors-checkbox" class="mr-2">Tumors</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Tumors-checkbox">
                </div>
            </div>
        </div>

        <hr>


        <div class="row">
            <div class="col text-left">
                Does your father suffer from any of the following diseases?
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Highbloodpressure-checkbox" class="mr-2">High blood pressure</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Highbloodpressure-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Heartdiseases-checkbox" class="mr-2">Heart diseases</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Heartdiseases-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Stomachulcers-checkbox" class="mr-2">Stomach ulcers</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Stomachulcers-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Bloodclots-checkbox" class="mr-2">Blood clots</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Bloodclots-checkbox">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Rheumatoidarthritis-checkbox" class="mr-2">Rheumatoid arthritis</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Rheumatoidarthritis-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Kidneydisorders-checkbox" class="mr-2">Kidney disorders</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Kidneydisorders-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Asthma-checkbox" class="mr-2">Asthma</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Asthma-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Skindiseases-checkbox" class="mr-2">Skin diseases</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Skindiseases-checkbox">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Thyroiddisorders-checkbox" class="mr-2">Thyroid disorders</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Thyroiddisorders-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Diabetesdisorders-checkbox" class="mr-2">Diabetes disorders</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Diabetesdisorders-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Epilepsy-checkbox" class="mr-2">Epilepsy</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Epilepsy-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Lungdisorders-checkbox" class="mr-2">Lung disorders</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Lungdisorders-checkbox">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Heartstroke-checkbox" class="mr-2">Heart stroke</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Heartstroke-checkbox">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline text-left">
                    <label for="Tumors-checkbox" class="mr-2">Tumors</label>
                    <input class="form-check-input mb-1" type="checkbox" id="Tumors-checkbox">
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <button type="submit" class="btn btn-secondary w-100">Update</button>
            </div>
        </div>
    </form>
</div>