{% extends "base.html" %}
{% load static %}
{% block title %}
    The sports doctor - Fellowships
{% endblock title %}
{% block body %}
    <div class="container fellowships">
        <div class="row text-center">
            <div class="col mb-75">
                <h1 class="page-header">Fellowships</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a name="" id="" class="btn btn-color" href="#" role="button">Download Fellowship Application</a>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col">
                <ul class="text-left">
                    <li class="bullet">12 Month Residency</li>
                    <li class="bullet">6 Month Fellowship</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-bg">
                    <div class="card-body">
                        <div>
                            <p class="card-text text-left mb-30">Dear Physical Therapy Residency Applicant:</p>
                            <p class="card-text text-left mb-30">
                                Thank you for your interest in our sports physical therapy residence program. The residency program is one year in duration and is a very dynamic and provides a multi-discipline approach to the rehabilitation program. During this year you will participate in clinical care, research, education and sports medicine outreach programs. This is a demanding program and requires your time, dedication, and commitment to fulfill the requirements of this program.
                            </p>
                            <p class="card-text text-left mb-30">
                                We do offer short term fellowship programs of 6 months, 1 month , and a week observational fellowship. Please specific in your application and letter which program you are applying for.
                            </p>
                            <p class="card-text text-left mb-30">
                                Our residence program has affiliations with high school and college athletic teams. Additionally you will be able to observe Sports Medicine personal with professional teams as well.
                            </p>
                            <p class="card-text text-left mb-30">
                                The application process is very competitive and usually yields dozens of applicants for one position each year. The selection process is performed through an application process, interviews, and recommendation letters.
                            </p>
                            <p class="card-text text-left mb-30">
                                Please complete the downloadable application form and send your curriculum vitae as well as a 150 word essay on your goals and why you want to be a part of our residence program. Send this information and 3 recommendation letters to at the address below.
                            </p>
                            <p class="card-text text-left mb-30">Best of luck in your future endeavors.</p>
                            <p class="card-text text-left mb-30">Thank you again for your interest.</p>
                            <p class="card-text text-left mb-30">Continued Success,</p>
                            <p class="card-text text-left">Kevin E. Wilk, PT, DPT, FAPTA</p>
                            <p class="card-text text-left">Associate Clinical Director</p>
                            <p class="card-text text-left">Champion Sports Medicine</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <p class="bold mb-30">SHORT TERM FELLOWSHIP (6 months)</p>
                <p>
                    <span class="bold">Purpose:</span> Expose the clinician to new & state of the art concepts in the evaluation & treatment of patients. The applicant will be exposed to a multi-discipline approach to treatment.
                </p>
                <p>
                    <span class="bold">Program:</span> The curriculum will include physical therapy treatment, physician office time, surgery exposure, biomechanics lab and research exposure. (Applicant must have Alabama PT State License).
                </p>
                <p>
                    <span class="bold">Dates:</span> Flexible schedule – actual schedule is dependent on program chair & applicant.
                </p>
                <p>
                    <span class="bold">Fees:</span>  Administration fees may apply.
                </p>
                <p>
                    <span class="bold">Certification:</span> Applicants will receive a short term fellowship certificate
                </p>
                <p class="mt-50 bold">Please mail your application to:</p>
                <p>To be set</p>
                <p>To be set</p>
            </div>
        </div>
    </div>
{% endblock body %}
