{% extends 'base.html' %}
{% load static %}
{% block title %}The Sports Doctor - Home{% endblock%}
{% block body %}

<section id="home" class="About">
   <div>
      <div class="card position-relative">
         <img class="card-img-top" src="{% static 'images/home.jpg' %}" alt="Title">
         <div class="card-body position-absolute top-50 start-50 translate-middle text-center">
            <h1 class="home-text">WE ARE THE SPORTS DOCTOR</h1>
         </div>
      </div>
   </div>
</section>

<section id="services">
   <div>
      <h1>Our services</h1>
   </div>
   <div class="row">
      <div class="col-4">
         <div class="card">
            <div class="card-body">
               <div class="">
                  <img class="img-fluid rounded-top service-img" src="{% static 'images\s1.png' %}" alt="">
               </div>

               <h3 class="card-title">Work injury</h3>
               <hr>
               <p class="card-text">200 EGP</p>
               <button type="button" class="btn btn-dark rounded-0">Book Now</button>
            </div>
         </div>
      </div>
      <div class="col-4">
         <div class="card">
            <div class="card-body">

               <div class="">
                  <img class="img-fluid rounded-top service-img" src="{% static 'images\s2.png' %}" alt="">
               </div>

               <h3 class="card-title">Chronic Injury</h3>
               <hr>
               <p class="card-text">200 EGP</p>
               <button type="button" class="btn btn-dark rounded-0">Book Now</button>

            </div>
         </div>
      </div>
      <div class="col-4">
         <div class="card">
            <div class="card-body">
               <div class="">
                  <img src="{% static 'images\s3.jpg' %}" class="img-fluid rounded-top service-img" alt="">
               </div>
               <h3 class="card-title">Sports Injury</h3>
               <hr>
               <p class="card-text">200 EGP</p>
               <button type="button" class="btn btn-secondary rounded-0">Book Now</button>

            </div>
         </div>
      </div>

   </div>
</section>

<section id="clients" class= "container">
   <div>
      <H1>Clients</H1>
   </div>

   <div class="container bg-secondary">
      
      <div class="row">
         <div class="col my-3">
            <img class="card-img-top" src="{% static 'images\c1.png' %}" alt="Title">
         </div>
         <div class="col my-3">
            <img class="card-img-top" src="{% static 'images\c2.png' %}" alt="Title">
         </div>
         <div class="col my-3">
            <img class="card-img-top" src="{% static 'images\c3.png' %}" alt="Title">
         </div>
         

      </div>
      <div class="row ">
         <div class="col my-3">
            <img class="card-img-top" src="{% static 'images\c4.png' %}" alt="Title">
         </div>
         <div class="col my-3">
            <img class="card-img-top" src="{% static 'images\c5.png' %}" alt="Title">
         </div>
         <div class="col my-3">
            <img class="card-img-top" src="{% static 'images\c6.png' %}" alt="Title">
         </div>
         

      </div>

   </div>
</section>

<section id="testimonials" class="container">
   <div class="row justify-content-center">
      <div class="col-md-4">
         <div class="card h-100">
            <div class="card-body">
               <blockquote class="blockquote mb-0">
                  <p>“Testimonials provide a sense of what it's like to work with you or use your products. Change the
                     text
                     and add your own."</p>
                  <footer class="blockquote-footer"><cite title="Source title">Alexa Young, CA</cite></footer>
               </blockquote>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card h-100">
            <div class="card-body">
               <blockquote class="blockquote mb-0">
                  <p>“Have customers review you and share what they had to say. Click to edit and add their
                     testimonial.”
                  </p>
                  <footer class="blockquote-footer"><cite title="Source title">Lisa Driver, MI

                     </cite></footer>
               </blockquote>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card h-100">
            <div class="card-body">
               <blockquote class="blockquote mb-0">
                  <p>"A great testimonial can boost your brand’s image. Click to edit and add your own."
                  </p>
                  <footer class="blockquote-footer"><cite title="Source title">Morgan James, NY
                     </cite></footer>
               </blockquote>
            </div>
         </div>
      </div>
   </div>
</section>

<section id="office" class='container'>
   <div class="card text-white bg-light position-relative rounded-0">
      <img class="card-img-top w-100 rounded-0 darken" src="{% static 'images\office hours.png'%}" alt="Title">
      <div class="position-absolute top-50 start-50 translate-middle">
         <div class="office-text">

         <h2>
            OFFICE HOURS
         </h2>
         <h3> Here When You Need Us
         </h3>
         <p>

            Monday - Friday
            <br>
            8:00am - 7:00pm
            <br>
            Saturday and Sunday
            <br>
            9:00am - 3:00pm

         </p>
      </div>

      </div>
   </div>
</section>


<section id="about">
   <div class="row">
      <div class="col-6">
         <div class="card h-100">
            <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
               <h3 class="card-title mb-4 abouttext">About Us</h3>
               <p class="card-text">Our goals at The Sports Doctor is to restore your mobility, keep you moving and make
                  sure your rehabilitation is effective, efficient, and stress-free. Throughout the years, we came up
                  with new and advanced methods in order to offer you the highest standards of treatment and patient
                  care. Take care of your body—book your next appointment with us today.</p>
            </div>
         </div>
      </div>


      <div class="col-6">
         <div class="card h-100">
            <img class="img-fluid" src="{% static 'images/about us.png' %}" alt="">

         </div>
      </div>
   </div>
   </div>
</section>

<section id="contactus" class="container">
   <div class="card text-white bg-muted">
      <div class="card-body">

         <h1>- Contact US -</h1>
         <script type="text/javascript">
            var submitted = false;
            var fadeEffect = function () {
               return {
                  init: function (id, flag, target) {
                     this.elem = document.getElementById(id);
                     clearInterval(this.elem.si);
                     this.target = target ? target : flag ? 100 : 0;
                     this.flag = flag || -1;
                     this.alpha = this.elem.style.opacity ? parseFloat(this.elem.style.opacity) * 100 : 0;
                     this.elem.si = setInterval(function () { fadeEffect.tween() }, 20);
                  },
                  tween: function () {
                     if (this.alpha == this.target) {
                        clearInterval(this.elem.si);
                     } else {
                        var value = Math.round(this.alpha + ((this.target - this.alpha) * .05)) + (1 * this.flag);
                        this.elem.style.opacity = value / 100;
                        this.elem.style.filter = 'alpha(opacity=' + value + ')';
                        this.alpha = value
                     }
                  }
               }
            }();
            function myFunction() {
               location.reload();
            }
         </script>
         <iframe id="hidden_iframe" name="hidden_iframe" onload="if(submitted){};" style="display: none;"></iframe>
         <form action="" id="ss-form" method="POST"
            onsubmit="fadeEffect.init('fade', 1);document.getElementById('fade').style.display = 'block'"
            target="hidden_iframe">
            <div class="styled-input">
               <div class="styled-input-in">
                  <input type="text" aria-label="Name" name="entry.2005620554" value="" id="entry.2005620554" dir="auto"
                     title="" required="required">
                  <label>Name</label>
                  <span class="span1"></span><span class="span2"></span>
               </div>
            </div>
            <div class="styled-input">
               <div class="styled-input-in">
                  <input type="text" aria-label="Mobile" name="entry.2005620554" value="" id="entry.2005620554"
                     dir="auto" title="" required="required">
                  <label>Mobile</label>
                  <span class="span1"></span><span class="span2"></span>
               </div>
            </div>

            <div class="styled-input">
               <div class="styled-input-in">
                  <input type="email" aria-label="Email" name="entry.1045781291" value="" id="entry.1045781291"
                     dir="auto" title="Must be a valid email address" required="required">
                  <label>Email</label>
                  <span class="span1"></span><span class="span2"></span>
               </div>
            </div>
            <div class="styled-input wide">
               <div class="styled-input-in">
                  <textarea aria-label="Comments" name="entry.839337160" rows="8" cols="0" id="entry.839337160"
                     dir="auto" aria-required="true" required="required"></textarea>
                  <label>Message</label>
                  <span class="span1"></span><span class="span2"></span>
               </div>
            </div>
            <input name="draftResponse" type="hidden" value="[,,&quot;6502601317885347162&quot;]">
            <input name="pageHistory" type="hidden" value="0">
            <input name="fbzx" type="hidden" value="6502601317885347162">
            <button type="submit" name="submit" class="btn btn-default">Send</button>
      </div>
      </form>
      <div id="fade">
         <div class="thanks_layout">
            <div class="thanks_message">
               <img alt="Thumb" height="48" width="48"
                  src="https://4.bp.blogspot.com/-rY5km74yj_I/V1ItqrbspBI/AAAAAAAAmxA/SK-aLPTjyuo8uiSYylRJ4tLslk2LJ581QCLcB/s1600/ic_thumb_up_black_24dp_2x.png" />
               <h2>Form submitted successfully</h2>
               <div class="close"><a href="javascript:void(0)"
                     onclick="document.getElementById('fade').style.display = 'none' ;myFunction()"
                     title="Close">&times;</a></div>
            </div>
         </div>
      </div>


   </div>
   </div>
</section>

<section id="map" class=container>
   <div id="map-container">
      <iframe
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8960.621480712558!2d31.202345097734852!3d30.014132290377358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145846e5392d6001%3A0x2808eca80b89a6cc!2sGiza!5e0!3m2!1sen!2seg!4v1678539951680!5m2!1sen!2seg"
         width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
         referrerpolicy="no-referrer-when-downgrade">
      </iframe>
   </div>
</section>


{% endblock %}