{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block body
%}
<div class="container py-2">
  {% if key == "login" %}
  <div>
    <div class="card h-25 w-50 mt-5 m-auto">
      <div class="card-body">
        <form action="" method="post" class="">
          {% csrf_token %}

          <div class="form-group m-2 text-left">
            <label for="" class="sr-only">Username</label>
            <input
              type="text"
              name="username"
              class="form-control"
              placeholder="Enter Username"
            />

            <label for="" class="sr-only">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Password"
            />
          </div>

          <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary mb-2" />
          </div>
        </form>
      </div>
      <div>
        <a href="{% url 'user_selection_type' %}" class=""
          >Not a User? Register Now.</a
        >
      </div>

      {% elif key == "register" %}
      <div>
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="text-left">{{ form.username.label_tag }}</div>
                    {{ form.username }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.email.label_tag }}</div>
                    {{ form.email }}
                  </div>

                  <div class="form-group">
                    <div class="text-left">{{ form.first_name.label_tag }}</div>
                    {{ form.first_name }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.last_name.label_tag }}</div>
                    {{ form.last_name }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">
                      {{ form.nationality.label_tag }}
                    </div>
                    {{ form.nationality }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.address.label_tag }}</div>
                    {{ form.address }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.city.label_tag }}</div>
                    {{ form.city }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="text-left">{{ form.birth_date.label_tag }}</div>
                    {{ form.birth_date }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.weight.label_tag }}</div>
                    {{ form.weight }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.height.label_tag }}</div>
                    {{ form.height }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.gender.label_tag }}</div>
                    {{ form.gender }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.password1.label_tag }}</div>
                    {{ form.password1 }}
                  </div>
                  <div class="form-group">
                    <div class="text-left">{{ form.password2.label_tag }}</div>
                    {{ form.password2 }}
                  </div>
                </div>
              </div>
              <div class="form-group m-2">
                <input type="submit" value="Register" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
