{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container py-2">

    {% if key == "login" %}
    <div>
        <form action="" method="post">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Enter Username">
            <input type="password" name="password" placeholder="Password">

            <input type="submit" value="Login">

        </form>

    </div>

    <div>
        <a href="{% url 'register' %}" class="">Not a User? Register Now.</a>
    </div>
    {% elif key == "register" %}
    <div>
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Register</h5>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.username.label_tag }}
                                </div>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.email.label_tag }}
                                </div>
                                {{ form.email }}
                            </div>

                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.first_name.label_tag }}
                                </div>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.last_name.label_tag }}
                                </div>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.nationality.label_tag }}
                                </div>
                                {{ form.nationality }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.address.label_tag }}
                                </div>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.city.label_tag }}
                                </div>
                                {{ form.city }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.birth_date.label_tag }}
                                </div>
                                {{ form.birth_date }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.weight.label_tag }}
                                </div>
                                {{ form.weight }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.height.label_tag }}
                                </div>
                                {{ form.height }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.gender.label_tag }}
                                </div>
                                {{ form.gender }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.password1.label_tag }}
                                </div>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                <div class ="text-left">
                                    {{ form.password2.label_tag }}
                                </div>
                                {{ form.password2 }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-2">
                        <input type="submit" value="Register" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
            </div>
        {% endif %}
</div>
{% endblock %}