
<div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Notification</th>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Trainee has been assigned to you</td>
                            <td>2022-01-01</td>
                            <td><span class="badge bg-success">Read</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>contact the trainee</td>
                            <td>2022-01-01</td>
                            <td><span class="badge bg-secondary">Cancelled</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Session date is ... </td>
                            <td>2022-01-01</td>
                            <td><span class="badge bg-success">Read</span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>