<div>
    <form>
        <div class="row">
            <div class="col text-left">
                <H3>Range of motion - test</H3>
                <p>If Active check the box</p>
            </div>
        </div>
        <div class="row my-3">
            <div class="col d-flex justify-content-start">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="RightForwardFlexion">Right Forward Flexion (max arm-trunk
                        angle)</label>
                    <input class="form-check-input" type="checkbox" id="RightForwardFlexion">
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="LeftForwardFlexion">Left Forward Flexion (max arm-trunk
                        angle)</label>
                    <input class="form-check-input" type="checkbox" id="LeftForwardFlexion">
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col d-flex justify-content-start">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="ForwardFlexion">Forward Flexion (max arm-trunk angle)</label>
                    <input class="form-check-input" type="checkbox" id="ForwardFlexion">
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="Ext-Rotation1">Ext-Rotation (Anatomical)</label>
                    <input class="form-check-input" type="checkbox" id="Ext-Rotation1">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="Ext-Rotation2">Ext-Rotation (Horizontal)</label>
                    <input class="form-check-input" type="checkbox" id="Ext-Rotation2">
                </div>
            </div>
            <div class="col-3 d-flex justify-content-start">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="Int-Rotation">Int-Rotation (Horizontal)</label>
                    <input class="form-check-input" type="checkbox" id="Int-Rotation">
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col d-flex justify-content-start">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="Cross-body">Cross-body adduction (antecubital
                        fosse to opposite acromion)

                    </label>
                    <input class="form-check-input" type="checkbox" id="Cross-body">
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <button type="submit" class="btn btn-secondary w-100">Update</button>
            </div>
        </div>
    </form>
</div>