{% extends 'base.html' %}
{% load static %}
{% block title %}
    The Sports Doctor - Services
{% endblock title %}
{% block body %}
    <!-- service-page-section -->
    <section class="service-page-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated"
                         data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="#">
                                        <img src="{% static 'images/service/service-5.jpg' %}" alt="">
                                    </a>
                                </figure>
                                <div class="icon-box">
                                    <i class="flaticon-physical"></i>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4>
                                    <a href="#">Physiotherapy</a>
                                </h4>
                                <p>Lorem is free text no used by other agencies...</p>
                                <div class="link">
                                    <a href="#"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated"
                         data-wow-delay="300ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="#">
                                        <img src="{% static 'images/service/service-6.jpg' %}" alt="">
                                    </a>
                                </figure>
                                <div class="icon-box">
                                    <i class="flaticon-massage"></i>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4>
                                    <a href="#">Massage Therapy</a>
                                </h4>
                                <p>Lorem is free text no used by other agencies...</p>
                                <div class="link">
                                    <a href="#"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated"
                         data-wow-delay="600ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="#">
                                        <img src="{% static 'images/service/service-7.jpg' %}" alt="">
                                    </a>
                                </figure>
                                <div class="icon-box">
                                    <i class="flaticon-broken-bone"></i>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4>
                                    <a href="#">Sport Injuries</a>
                                </h4>
                                <p>Lorem is free text no used by other agencies...</p>
                                <div class="link">
                                    <a href="#"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated"
                         data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="#">
                                        <img src="{% static 'images/service/service-8.jpg' %}" alt="">
                                    </a>
                                </figure>
                                <div class="icon-box">
                                    <i class="flaticon-chiropractic"></i>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4>
                                    <a href="#">Chiropratic Therapy</a>
                                </h4>
                                <p>Lorem is free text no used by other agencies...</p>
                                <div class="link">
                                    <a href="#"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated"
                         data-wow-delay="300ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="#">
                                        <img src="{% static 'images/service/service-9.jpg' %}" alt="">
                                    </a>
                                </figure>
                                <div class="icon-box">
                                    <i class="flaticon-chiropractic"></i>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4>
                                    <a href="#">Clinical Pilates</a>
                                </h4>
                                <p>Lorem is free text no used by other agencies...</p>
                                <div class="link">
                                    <a href="#"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp animated animated"
                         data-wow-delay="600ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="#">
                                        <img src="{% static 'images/service/service-10.jpg' %}" alt="">
                                    </a>
                                </figure>
                                <div class="icon-box">
                                    <i class="flaticon-chiropractic"></i>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4>
                                    <a href="#">Work Injuries</a>
                                </h4>
                                <p>Lorem is free text no used by other agencies...</p>
                                <div class="link">
                                    <a href="#"><i class="fas fa-chevron-circle-right"></i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-page-section end -->
{% endblock body %}
