{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Resox - HTML 5 Template Preview</title>
{% include 'stylesheet.html' %}

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">

        {% include 'preloader.html' %}

        {% include 'navbar.html' %}


        <!--Page Title-->
        <section class="page-title centred" style="background-image: url({% static  'images/background/page-title.jpg'%});">
            <div class="auto-container">
                <div class="content-box">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>Service Details</li>
                    </ul>
                    <div class="title">
                        <h1>Physiotherapy</h1>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- service-details -->
        <section class="service-details">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="service-sidebar">
                            <div class="sidebar-widget categories-widget">
                                <h4>All Categories</h4>
                                <ul class="list clearfix">
                                    <li><a href="{% url 'service-detail' %}" class="active">Physiotherapy</a></li>
                                    <li><a href="{% url 'service-detail-2' %}">Massage Therapy</a></li>
                                    <li><a href="{% url 'service-detail-3' %}">Sport Injuries</a></li>
                                    <li><a href="{% url 'service-detail-4' %}">Chiroptratic Therapy</a></li>
                                    <li><a href="{% url 'service-detail-5' %}">Clinical Pilates</a></li>
                                    <li><a href="{% url 'service-detail-6' %}">Work Injusries</a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget sidebar-support" style="background-image: url({% static  'images/resource/support-1.jpg'%});">
                                <div class="widget-content">
                                    <h4>Need Help?</h4>
                                    <p>Speak with a human to filling out a form? call corporate office and we will connect you with a team member who can help.</p>
                                    <h3><a href="tel:6660009999">666 000 9999</a></h3>
                                    <div class="btn-box"><a href="{% url 'service-detail' %}" class="theme-btn-one">Book Appointment</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <figure class="image-box">
                                    <img src="{% static  'images/service/service-details-1.jpg'%}" alt="">
                                    <i class="flaticon-massage"></i>
                                </figure>
                                <div class="text">
                                    <h2>Physiotherapy</h2>
                                    <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <p>It has survived not only five centuries. Lorem Ipsum is simply dummy text of the new design printng and type setting Ipsum take a look at our round. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                                </div>
                            </div>
                            <div class="two-column">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image-box"><img src="{% static  'images/service/service-details-7.jpg'%} " alt=""></figure>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                                        <div class="text">
                                            <h3>Be Strong and Healthy</h3>
                                            <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</h4>
                                            <ul class="list-item clearfix">
                                                <li>Refresing to get such a personal touch.</li>
                                                <li>Duis aute irure dolor in in voluptate.</li>
                                                <li>Velit esse cillum eu fugiat pariatur.</li>
                                                <li>Duis aute irure dolor in in voluptate.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-inner">
                                <ul class="accordion-box">
                                    <li class="accordion block active-block">
                                        <div class="acc-btn active">
                                            <div class="icon-outer"><i class="far fa-angle-up"></i></div>
                                            <h5>We repair your past hurts and issues</h5>
                                        </div>
                                        <div class="acc-content current">
                                            <div class="text">
                                                <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo ligula, vitae commodo nisl.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion block">
                                        <div class="acc-btn">
                                            <div class="icon-outer"><i class="far fa-angle-up"></i></div>
                                            <h5>How to recover your body injury by exercise</h5>
                                        </div>
                                        <div class="acc-content">
                                            <div class="text">
                                                <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo ligula, vitae commodo nisl.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="accordion block">
                                         <div class="acc-btn">
                                            <div class="icon-outer"><i class="far fa-angle-up"></i></div>
                                            <h5>How to protect your back from cold</h5>
                                        </div>
                                        <div class="acc-content">
                                            <div class="text">
                                                <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo ligula, vitae commodo nisl.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="content-two">
                                <div class="text">
                                    <h2>Our Benefits</h2>
                                    <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                                <div class="inner-box" style="background-image: url({% static  'images/service/service-details-8.jpg'%});">
                                    <ul class="list-item clearfix">
                                        <li>Refresing to get a personal touch.</li>
                                        <li>Velit esse cillum eu fugiat pariatur.</li>
                                        <li>Duis aute irure dolor in in voluptate.</li>
                                        <li>Duis aute irure dolor in in voluptate.</li>
                                    </ul>
                                </div>
                                <div class="text">
                                    <p><span>Lorem Ipsum is simply dummy text</span> of the new design printng and type setting Ipsum take a look at our round. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->


        <!-- main-footer -->
        <footer class="main-footer">
            <div class="footer-top" style="background-image: url({% static  'images/background/footer-1.jpg);">
                <figure class="icon-layer"><img src="{% static  'images/icons/icon-1.png" alt=""></figure>
                <div class="auto-container">
                    <div class="widget-section">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget logo-widget">
                                    <figure class="logo-box"><a href="/"><img src="{% static  'images/footer-logo.png'%}" alt=""></a></figure>
                                    <div class="text">
                                        <p>There are many variatio of lorem ipsum available.</p>
                                    </div>
                                    <ul class="info clearfix">
                                        <li><i class="flaticon-email"></i><a href="mailto:needhelp@info.com">needhelp@info.com</a></li>
                                        <li><i class="flaticon-pin"></i>88 broklyn silver street, USA</li>
                                    </ul>
                                    <div class="support-box">
                                        <i class="flaticon-telephone"></i>
                                        <p>Call us anytime</p>
                                        <h5><a href="tel:6660009999">666 000 9999</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget links-widget ml-70">
                                    <div class="widget-title">
                                        <h4>Links</h4>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="links-list clearfix">
                                            <li><a href="/">About</a></li>
                                            <li><a href="/">Make Appointment</a></li>
                                            <li><a href="/">Our Services</a></li>
                                            <li><a href="/">Team Members</a></li>
                                            <li><a href="/">Team Members</a></li>
                                            <li><a href="/">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget links-widget">
                                    <div class="widget-title">
                                        <h4>Services</h4>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="links-list clearfix">
                                            <li><a href="/">Massage Therapy</a></li>
                                            <li><a href="/">Physiotherapy</a></li>
                                            <li><a href="/">Chiroptratic Therapy</a></li>
                                            <li><a href="/">Sport Injuries</a></li>
                                            <li><a href="/">Clinical Pilates</a></li>
                                            <li><a href="/">Work Injuries</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget appointment-widget centred">
                                    <div class="icon-layer"><i class="flaticon-alarm-clock-1"></i></div>
                                    <div class="widget-title">
                                        <h4>Timings</h4>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="shediul-list clearfix">
                                            <li>
                                                <span>Mon</span>
                                                <h6>9:00am - 6:00pm</h6>
                                            </li>
                                            <li>
                                                <span>Fri to Sat</span>
                                                <h6>10:00am - 4:00pm</h6>
                                            </li>
                                            <li>
                                                <span>Sun</span>
                                                <h6>Work off</h6>
                                            </li>
                                            <li>
                                                <a href="/" class="theme-btn-one">Book Appointment</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-botton">
                <div class="auto-container clearfix">
                    <div class="copyright pull-left">
                        <p>&copy; Copyright 2020 by <a href="/">Resox</a></p>
                    </div>
                    <ul class="social-links pull-right clearfix">
                        <li><a href="/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="/"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- main-footer end -->


        <!--scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="far fa-arrow-up"></span>
        </button>
    </div>


    <!-- jequery plugins -->
    <script src="{% static  'js/jquery.js'%}"></script>
    <script src="{% static  'js/popper.min.js'%}"></script>
    <script src="{% static  'js/bootstrap.min.js'%}"></script>
    <script src="{% static  'js/owl.js'%}"></script>
    <script src="{% static  'js/wow.js'%}"></script>
    <script src="{% static  'js/validation.js'%}"></script>
    <script src="{% static  'js/jquery.fancybox.js'%}"></script>
    <script src="{% static  'js/appear.js'%}"></script>
    <script src="{% static  'js/jquery.countTo.js'%}"></script>
    <script src="{% static  'js/scrollbar.js'%}"></script>
    <script src="{% static  'js/nav-tool.js'%}"></script>

    <!-- main-js -->
    <script src="{% static  'js/script.js'%}"></script>

</body><!-- End of .page_wrapper -->
</html>
