<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <!-- justify-content-center -->
    <div class="row my-3">
        <div class="col-sm-4">
            <label for="subscriptions-plan">Choose one of the below plans</label>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <select name="subscriptions-plan" id="subscriptions-plan" class="form-control">
                    <option value="" selected>Choose Plan</option>
                    <option value="plan1">Basic Physiotherapy Treatment</option>
                    <option value="plan2">Elderly Care Program</option>
                    <option value="plan3">Sports Injury Treatment</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm-4">
            <label for="appointment-date">Choose a date for your appointment</label>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <input type="date" name="appointment-date" id="appointment-date" class="form-control">
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm-4">
            <label for="appointment-time">Choose a time for your appointment</label>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <select name="appointment-time" id="appointment-time" class="form-control">
                    <option value="" selected>Choose Time</option>
                    <option value="9am">9:00 AM</option>
                    <option value="10am">10:00 AM</option>
                    <option value="11am">11:00 AM</option>
                    <option value="12pm">12:00 PM</option>
                    <option value="1pm">1:00 PM</option>
                    <option value="2pm">2:00 PM</option>
                    <option value="3pm">3:00 PM</option>
                    <option value="4pm">4:00 PM</option>
                    <option value="5pm">5:00 PM</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" class="table-light col-4">Subscription Name</th>
                            <th scope="col" class="table-light col-4">Subscription Type</th>
                            <th scope="col" class="table-light col-3">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Basic Physiotherapy Treatment</th>
                            <td>Monthly</td>
                            <td><span class="badge bg-success">90 EGP</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="btn btn-secondary w-100">
                Subscribe
            </div>
        </div>
    </div>

</form>
<hr>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Subscription ID</th>
                <th scope="col">Subscription Name</th>
                <th scope="col">Subscription Type</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Basic Physiotherapy Treatment</td>
                <td>Monthly</td>
                <td>2022-01-01</td>
                <td>2022-02-01</td>
                <td><span class="badge bg-success">Active</span></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Elderly Care Program </td>
                <td>Yearly</td>
                <td>2022-01-01</td>
                <td>2023-01-01</td>
                <td><span class="badge bg-danger">Expired</span></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Sports Injury Treatment</td>
                <td>Monthly</td>
                <td>2022-01-01</td>
                <td>2022-02-01</td>
                <td><span class="badge bg-secondary">Cancelled</span></td>
            </tr>
        </tbody>
    </table>
</div>