<div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Trainee First Name</th>
                            <th scope="col">Trainee Last Name</th>
                            <th scope="col">Contact Number</th>
                            <th scope="col">Assigned Trainer</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Ahmed</td>
                            <td>Hassan</td>
                            <td>01100000000</td>
                            <td>Ahmed</td>

                            <td><span class="badge bg-success">Active</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Ahmed</td>
                            <td>Hassan</td>

                            <td>01100000000</td>
                            <td>Ahmed</td>

                            <td><span class="badge bg-success">Active</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Ahmed</td>
                            <td>Hassan</td>
                            <td>01100000000</td>
                            <td>Not assigned</td>

                            <td><span class="badge bg-success">Active</span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>