<div>
    <form>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <div class="text-left">Date</div>
                    <input type="date" class="form-control" id="date" name="date" required>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col my-2">
                <div class="form-group">
                    <div class="text-left">Condition</div>
                    <textarea class="form-control" id="condition" name="condition" rows="3"
                        placeholder="Enter your Condition" required></textarea>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col my-2">
                <div class="form-group">
                    <div class="text-left">Treatment
                    </div>
                    <textarea class="form-control" id="condition" name="condition" rows="3"
                        placeholder="Enter Treatment" required></textarea>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col my-2">
                <div class="form-group">
                    <div class="text-left">Notes
                    </div>
                    <textarea class="form-control" id="condition" name="condition" rows="3" placeholder="Any notes?"
                        required></textarea>
                </div>

            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <button type="submit" class="btn btn-secondary w-100">Save</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="col text-left">
            <h3>Treatment Plans</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Treatment Plan</th>
                            <th scope="col">Date</th>
                            <th scope="col">Trainer</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Basic Physiotherapy Treatment</td>
                            <td>2022-02-01</td>
                            <td>Mostafa</td>
                            <td><span class="badge bg-success">Active</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Primary Treatment</td>
                            <td>2022-02-02</td>
                            <td>Mahmoud</td>
                            <td><span class="badge bg-success">Active</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Primary Treatment</td>
                            <td>2022-02-02</td>
                            <td>Yasser</td>
                            <td><span class="badge bg-secondary">Cancelled</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>