<div class="table-responsive" id = "table_app">
  <table class="table table-secondary">
    <thead>
      <tr>
        <th scope="col-2">Activity</th>
        <th scope="col-3">Right Arm</th>
        <th scope="col-3">Left Arm</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(activity, index) in activities" :key="index">
        <td scope="row">{{ activity.name }}</td>
        <td>
          <div v-for="i in 4" :key="i">
            <input type="radio"
                   :id="`r_${index}_${i}`"
                   :name="`r_${index}`"
                   :value="i-1"
                   v-model="activity.rightArm">
            <label :for="`r_${index}_${i}`">{{ i-1 }}</label>
          </div>
        </td>
        <td>
          <div v-for="i in 4" :key="i">
            <input type="radio"
                   :id="`l_${index}_${i}`"
                   :name="`l_${index}`"
                   :value="i-1"
                   v-model="activity.leftArm">
            <label :for="`l_${index}_${i}`">{{ i-1 }}</label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
